@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background-image: url(https://i.redd.it/d7e1x414hax51.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0;
  }
  .leftScreen {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/15/453/148/pokemon-ruby-version-wallpaper-preview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
